@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    @media (max-width:600px){
        body{
            background-color: lightslategray;
            color: #fff;
        }
            .sector1 { 
            grid-area: sector1;
            height: fit-content; 
            color: #fff;
            padding: 0.5rem 1rem;
            text-align: center;
            align-self: center;
            }
            .sector2 { 
            grid-area: sector2;
            height: fit-content; 
            color: #fff;
            padding: 0.5rem 1rem;
            text-align: center;
            align-self: center;
            }
            .piedepagina { 
            grid-area: piedepagina;
            max-width:100%;
            max-height: fit-content;
            }

        /*comienza Header*/
        header{
            background-image: url(../Images/frutos-secos1\ .jpg); background-repeat: no-repeat; background-size: cover;
            }
            /*logo principal*/
            .logo{
            width: 8rem;
            border-radius: 50%;
            margin: 0.5rem;
            }
        /*comienza Main*/
            /*video en Index*/    
            iframe{
                max-width: 450px;
                max: height 300px;
            }
            /*InfoContacto sinbullets*/
            .sinpunto{
                list-style: none;
            }
            /*comienza Footer*/
        footer{
            background-color: #201f1e;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            footer p{
            padding: 0.5rem;
            }
            .redes a i{
            font-size: 25px;
            padding: 5px 10px;
            }
            .redes a i:hover{
            color: #fff;
            transform: scale(1.5);
            transition:all 1s ease;
            }
    }
@media only screen and (min-width:1000px){
    body{
        background-color: #b0a295;
        color: #fff;
        font-size: 0.9rem;
        align-items:center;
        }
    /*Contenedor Grid*/
    .container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.5fr 1fr;
    grid-template-areas:
      "encabezado encabezado"
      "sector1 sector2"
      "piedepagina piedepagina";
    }
    .encabezado { 
    grid-area: encabezado;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    }
    .sector1 { 
    grid-area: sector1; 
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    align-self: center;
    }
    .sector2 { 
    grid-area: sector2;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    align-self: center;
    }
    .piedepagina { 
    grid-area: piedepagina; 
    }

    /*comienza Header*/
    header{
    background-image: url(../Images/frutos-secos1\ .jpg); background-repeat: no-repeat; background-size: cover;
    }
        /*logo principal*/
            .logo{
            width: 8rem;
            border-radius: 50%;
            margin: 0.2rem;
            }
    
    /*comienza Main*/
        /*video en Index*/    
            iframe{
            width:560px; height: 315px;
            }
        
        /*form en CONTACTO*/
            form{
            color:#201f1e ;
            background-color: #e0d4c4;    
            padding: 20px;
            }
        /*InfoContacto sinbullets*/
            .sinpunto{
            list-style: none;
            }            
    /*comienza Footer*/
            footer{
            background-color: #201f1e;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            footer p{
            padding: 0.5rem;
            }
            .redes a i{
            font-size: 25px;
            padding: 5px 10px;
            }
            .redes a i:hover{
            color: #fff;
            transform: scale(1.5);
            transition:all 1s ease;
            }
/*los llaman desde varias páginas*/
    .fontText{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9rem;    
        color: #fff;
    }
    .left{
        text-align: left;
        align-self: center;
    }
    .right{
        text-align: right;
        align-self: center;
    }
    .center{
        text-align: center;
        align-self: center;
    }
    .justify{
        text-align: justify;
        align-self: center;
    