@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontText: 0.9rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$rosaclaro: #f8e7f5;

@import "desktop";
@import "mobile";

.left{text-align: left;align-self: center;}
.right{text-align: right;align-self: center;}
.center{text-align: center;align-self: center;}
.justify{text-align:justify;align-self: center;}